.menu {
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 999;

  .list {
    display: inline-block;
    height: 100%;
    li {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

.lga {
  font-size: 1.5em;
}

.space-white {
  border-top: 1px solid white !important;
}

#navbar {
  position: fixed;
  left: 0;
  height: 100%;
}

#app {
  padding-left: 4.5em;
}

#dashboard {
  padding-left: 5em;
  padding-top: 3.5em;
}
